<div class = 'row d-flex justify-content-center mt-5'>
  <div class="col-sm-8 col-md-5 mt-5 ">
    <%= form_tag sessions_path do %>
      <%= label_tag :name, 'Name', class: 'form-label' %>
      <%= text_field_tag :name, nil, placeholder: 'Enter Account Name', class:'form-control mb-2' %>
      <%= submit_tag 'Log In', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
