
<article class='article'>
  <figure class= ''>
    <%= display_image(article)%>
  </figure>
  <div class='bg-light px-3 pt-2'>
    <h5><%= article.title %></h5>
    <p><%= truncate_or_not(article) %></p>
    <p><%= continue_reading(article) %></p> 
    <div class='d-flex justify-content-between pb-0'>
    <span class ='h6 mt-2'>Author:</span>
      <span class ='h6 ml-n5 mt-2'>
        <%= article.author.name.downcase.capitalize %>
      </span>
      <span ><%= upvote_or_downvote(article) %></span>
    </div>
  </div>
  
</article>