<div class="row justify-content-center">
  <div class="col-4">
    <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.label :title, class:'form-label mb-1' %>
        <%= f.text_field :title, class:'form-control mb-1', placeholder: 'title' %>
        <%= f.label :body, class:'form-label mb-1' %>
        <%= f.text_area :body, class:'form-control mb-1', placeholder: 'Write about your culture' %>
      </div>
      <%= f.fields_for :categories do |c| %>
        <div class="form-group">
          <%= c.label :name  %>
          <%= c.text_field :name, placeholder: 'add a category', class:'form-control' %>
        </div>      
      <% end %>
      

      <div class="form-group">
        <%= f.submit class:'form-btn btn-info mt-1' %>
      </div>
    <% end %>
    
  </div>
</div>