<div class="mt-1  w-100">
  <div class=" most-popular">
    <article class="">
      
        <%= image_tag @most_popular.image_url, class: 'image' if @most_popular.image %>

      <% if @most_popular && @most_popular.categories.first %>
        
        <h4> <%= link_to @most_popular.categories.first.name, @most_popular.categories.first %></h4>
        <h5><%= @most_popular.title %></h5>
      <% end %>    
    </article>
  </div>
  <section class="top-category">
    <% @categories.each do |category| %>
      <article class="">
        
        <% unless category.articles.empty? %>
          <%= image_tag category.articles.last.image_url, class: 'image' if category.articles.last.image %>
          <h5><%= link_to category.name, category %></h5>
          <h6><%= category.articles.last.title %></h6>
        <% end %>
      
      </article>
    <% end %>
  </section>
</div>
