<div class="mt-5  w-100 color-bg  ">
  <div class=" most-popular">
    <article class="">
        <%= display_image(@most_popular[0]) %>
        <h4>All About Diverse Cultures in One Place</h4>
        <h5><%= link_to @most_popular[0].title, @most_popular[0], class: 'secondary-color' %></h5>
    </article>
  </div>
  <section class="top-category">
    <% @category_article.each do |array| %>
      <article class="">
        <%= display_image(array[1]) %>
        <h5><%= link_to array[0].name, array[0], class: 'secondary-color' %></h5>
        <h6><%= link_to array[1].title, array[1], class: 'secondary-color' if array[1] %></h6> 
      </article>
    <% end %>
  </section>
</div>
