<div class='article_page'>
  <article class=''>
    <figure class='w-25 float-start'>
      <%= display_article_image(@article) %>   
    </figure>
    <div class=' bg-light article_details'>
      <h6>
        <span><%= @article.title %></span>
        <span class =" ml-5 secondary-color"><%= pluralize(@article.votes.count, 'vote')+'!'%></span>
       
      </h6>
     
      </p><%= @article.body %><p>
      
    </div>
    <p><span class ='h4'>Author</span>
        <span class ='h4'>
          <%= @article.author.name.downcase.capitalize %>
        </span>
        <span class = 'ml-5'><%= upvote_or_downvote(@article) %></span>
    </p> 
  </article>
</div>
<%= render 'shared/footer' %>