
<div class = 'row d-flex justify-content-center mt-5'>
  <div class="col-sm-8 col-md-5 mt-5 ">
    <%= form_for @user do |f|%>
      <div class="row my-2">
        <%= render print_user_errors(@user) %>
      </div> 
      <%= f.label :name, 'Name', class: 'form-label mb-2' %>
      <%= f.text_field :name, placeholder: 'Input name', class:'form-control mb-2'%>
      <%= f.submit 'Sign Up', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>