<footer class='px-3'>

  <p class='my-auto'>
    <%= link_to 'CultureEducate', root_path, class: 'my-auto text-white' %>
  </p>

  <ul class="d-none d-md-flex my-auto">
    <%= link_to root_path do %>
      <li class="link secondary-color">Privacy</li>
    <% end %>
    <%= link_to root_path  do %>
      <li class="link secondary-color">Policy</li>
    <% end %>
    <%= link_to root_path  do %>
      <li class="link secondary-color">Terms & Conditions</li>
    <% end %>
      <li class=" text-white">Copyright 2014</li>
      <li class="text-white">All rights reserved.</li>
  </ul>
  <ul class="d-flex my-auto">
    <li class='text-white' >contact us with:</li>
   
    <%= link_to root_path  do %>
      <li class="link secondary-color">twitter icon</li>
    <% end %>
    <%= link_to root_path  do %>
      <li class="link secondary-color">instagram icon</li>
    <% end %>
    <%= link_to root_path  do %>
      <li class="link secondary-color">facebook icon</li>
    <% end %>
  </ul>

</footer>