<nav class="navbar bg-light">
  <%= link_to root_path class: "col-sm-3" do %>
    <h5>CultureEducate</h5>
  <% end %>

  <ul class="navbar-nav">
    <%= link_to root_path  do %>
      <li class="nav-link"></li>
    <% end %>
    <%= link_to root_path do %>
      <li class="nav-link">NEW ARTICLE</li>
    <% end %>
  </ul>
  <ul class="navbar-nav">
    <%= link_to root_path do %>
      <li class="nav-link">SIGN UP</li>
    <% end %>
    <%= link_to root_path do %>
      <li class="nav-link">LOG IN</li>
    <% end %>
    <%= link_to root_path do %>
      <li class="nav-link">LOG OUT</li>
    <% end %>
  </ul>
</nav>