<nav class="navbar w-100">
  <%= link_to root_path class: "col-sm-3" do %>
    <h5>CultureEducate</h5>
  <% end %>

  <ul class="navbar-nav">
    <%= link_to root_path  do %>
      <li class="nav-link">Name</li>
    <% end %>
    <%= link_to root_path do %>
      <li class="nav-link">New Article</li>
    <% end %>
  </ul>
  <ul class="navbar-nav">
    <%= link_to root_path do %>
      <li class="nav-link">Sign In</li>
    <% end %>
    <%= link_to root_path do %>
      <li class="nav-link">Sign Out</li>
    <% end %>
    <%= link_to root_path do %>
      <li class="nav-link">Log In</li>
    <% end %>
  </ul>
</nav>