<section class="mt-4 ">
  <h3 class="row justify-content-center"> <%= @category.name %></h3>
  <div class="article_section">
    <% @articles.each do |article| %>
      
      <article class=''>
        <figure class=''>
          <%= image_tag article.image_url, class: 'image' if article.image %>        
        </figure>
        <div class=' bg-light article_details'>
          <h6><%= article.title %></h6>
          <p><%= article.body %></p>
          <div class='article_vote'>
            <span><%= upvote_or_downvote(article) %></span>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</section>
<%= render 'shared/footer' %>
