<!DOCTYPE html>
<html>
  <head>
    <title>CultureEducate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'shared/navbar' %>
      <p class="row bg-white justify-content-center"> <%= flash_message %> </p>

      <%= yield %>
    </div>
  </body>
</html>
