<!DOCTYPE html>
<html>
  <head>
    <title>CultureEducate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header>
        <%= render 'shared/navbar' %>
      </header>
      <!-- <p class="row bg-white justify-content-center"> <%= flash_message %> </p> -->
      
      <% if notice %>
        <p class="row bg-success justify-content-center"> <%=notice %> </p>
      <% end %>
      <% if alert %>
        <p class="row bg-danger justify-content-center"> <%=alert %> </p>
      <% end %>
      
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
